$("#BTC").text("#{"#{number_to_currency(@btc, precision: 2, separator: ".", unit: "$", delimiter: ",", format: "%u%n")}"}");
$("#ETH").text("#{number_to_currency(@eth, precision: 2, separator: ".", unit: "$", delimiter: ",", format: "%u%n")}");
$("#ADA").text("#{number_to_currency(@car, precision: 2, separator: ".", unit: "$", delimiter: ",", format: "%u%n")}");
